.Game {
  color: #ffffff;
}

.Game-win h2 {
  font-size: 4em;
}

.Game-board {
  padding: 15px;
  border: 1px solid #666666;
}

.Game-row {
  display: flex;
  flex-direction: row;
}

.Game-hidden {
  display: none;
  visibility: hidden;
}
